:root {
	--dark-blue: #0084fd;
	--light-blue: #b5ddff;
	--lilac: #9792e4;
	--dark: #333333;
	--gold: #fdc15f;
	--gutter: 24px;
	--radius: 16px;
	--radius-lg: 50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
.container {
	max-width: 1164px;
}

.container-sm {
	max-width: 904px;
}

.container,
.container-sm {
	margin: 0 auto;
	padding: 0 calc(var(--gutter) * 0.5);
}

.container:has(.gutter-lg),
.container-sm:has(.gutter-lg) {
	--gutter: 60px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--gutter);
	margin-left: calc(var(--gutter) * -0.5);
	margin-right: calc(var(--gutter) * -0.5);
}

.row > * {
	padding: 0 calc(var(--gutter) * 0.5);
}

/* 100% da 0px in su */
.col-12 {
	width: calc(12 * 100% / 12);
}

/* medium device: da 768px in su */
@media (min-width: 768px) {
	.col-md-4 {
		width: calc(4 * 100% / 12);
	}

	.col-md-6 {
		width: calc(6 * 100% / 12);
	}

	.col-md-8 {
		width: calc(8 * 100% / 12);
	}
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: calc(4 * 100% / 12);
	}

	.col-lg-6 {
		width: calc(6 * 100% / 12);
	}
}

/* COMPONENTS */
.button {
	display: inline-block;
	border-radius: 999px;
	line-height: 46px;
	background-color: var(--dark-blue);
	color: white;
	padding: 0 50px;
}

.button.button--white {
	background-color: white;
	color: black;
}

.button.button--lilac {
	background-color: var(--lilac);
	color: black;
}

.button.button--circle {
	aspect-ratio: 1/1;
	border-radius: 50%;
	height: 46px;
	padding: 0;
}

/* UTILITIES */
.self-end {
	align-self: flex-end;
}

.gutter-lg {
	--gutter: 60px;
}

.no-gutter {
	--gutter: 0;
}

/* HEADER */
.page-header {
	background-color: var(--dark-blue);
	color: white;
	padding: 16px 0;
}

.nav {
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
}

.main-menu {
	display: none;
}

.menu-item a {
	display: block;
	padding: 0 20px;
	line-height: 32px;
}

.hambuerger {
	font-size: 24px;
}

@media (min-width: 992px) {
	.main-menu {
		display: flex;
	}

	.hambuerger {
		display: none;
	}
}

/* HERO */

.hero {
	padding: 50px 0;
}

/* CARD FEATURE */

[class^='col-'] > .card {
	height: 100%;
}

.feature-card {
	background-color: #b5ddff;
	border-radius: var(--radius);
}

.feature-card .feature__icon {
	font-size: 60px;
	color: var(--dark-blue);
}

.feature__title {
	color: var(--dark-blue);
}

.feature-card .card__body {
	display: flex;
	flex-direction: column;
	gap: 28px;
	align-items: center;
	text-align: center;
	padding: 30px 24px;
}

.feature-card .card__body p {
	line-height: 1.85em;
	font-size: 14px;
}

.feature-card.card--landscape {
	display: flex;
	flex-wrap: wrap;
}

.feature-card.card--landscape .card__body {
	text-align: left;
	align-items: flex-start;
}

.feature-card.card--landscape > * {
	width: 100%;
}

.feature-card .card__header {
	align-self: flex-end;
}

.feature-card .card__header img {
	display: block;
	margin: 0 auto;
	width: 250px;
}

@media (min-width: 768px) {
	.feature-card .card__header img {
		margin: 0;
	}
}

@media (min-width: 992px) {
	.feature-card.card--landscape > * {
		width: 50%;
	}

	.feature-card .card__header img {
		margin: 0 auto;
	}
}

/* STRATEGIC */
.strategic {
	background-color: var(--lilac);
	color: white;
	padding: 130px 0 80px;
}

.card.card--app {
	background-color: white;
	color: black;
	border-radius: var(--radius-lg);
	text-align: center;
	padding: 20px 12px;
}

.card.card--app .app__image {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.card.card--app .app__title {
	margin-bottom: 20px;
}

.card.card--app .button {
	margin-top: 20px;
}

.strategic .section__title {
	margin-top: 80px;
	margin-bottom: 44px;
}

@media (min-width: 768px) {
	.card.card--app .app__image {
		max-width: 550px;
	}

	.strategic .section__title {
		margin-top: 116px;
		margin-bottom: 48px;
		font-size: 36px;
	}
}

@media (min-width: 992px) {
	.card.card--app .app__image {
		max-width: 240px;
	}

	.strategic .section__title {
		margin-top: 116px;
		margin-bottom: 32px;
		font-size: 20px;
	}
}

/* TESTIMONIALS */

.testimonials {
	padding: 60px 0px 112px;
	text-align: center;
}

.testimonials .section__subtitle {
	color: var(--lilac);
	font-size: 28px;
}

.card.card-testimonial {
	color: white;
	background-color: var(--lilac);
	border-radius: var(--radius-lg);
	padding: 32px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.card.card-testimonial .avatar {
	width: 200px;
}

.avatar.avatar--circle {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	object-fit: cover;
}

:is(.testimonials__list, .testimonials > .container) > *:not(:last-child) {
	margin-bottom: var(--gutter);
}

/* .testimonials__list > *:last-child {
	margin-bottom: 0;
} */

@media (min-width: 768px) {
	.card.card-testimonial {
		flex-direction: row;
		text-align: left;
		gap: 32px;
		padding: 32px;
	}
}

@media (min-width: 992px) {
	.card.card-testimonial {
		gap: 60px;
	}
}

.benetifs {
	background-color: var(--lilac);
	color: white;
	padding: 80px 0;
}

.benetifs .section__title {
	text-align: center;
	margin-bottom: 32px;
	font-size: 36px;
}

.card.card-benefit {
	background-color: white;
	color: var(--lilac);
	border-radius: var(--radius);
}

.card.card-benefit .card__body {
	padding: 20px;
}
