/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
	font-family: 'Open Sans';
}

/* LAYOUT */

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 24px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-4 {
	width: calc(4 * 100% / 12);
}

.col-6 {
	width: calc(6 * 100% / 12);
}

.col-12 {
	/* 100% */
	width: calc(12 * 100% / 12);
}

.row > * {
	padding: 0 10px;
}

.products .row > * {
	margin-top: 20px;
}

/* utilities */
.flex {
	display: flex;
}

/* HEADER */
.page-header {
	background-color: #fe6900;
	color: white;
	padding: 16px 0;
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0.1);
}

.logo img {
	height: 32px;
}

/* CONTENT */
.products {
	padding: 100px 0;
}

/* FOOTER */
.page-footer {
	background-color: black;
	color: white;
	padding: 16px 0;
}

.page-footer .row,
.page-header .row {
	justify-content: space-between;
}

.page-header .row {
	align-items: center;
}

.page-footer .row ul,
.page-header .row ul {
	gap: 20px;
}

/* CARD PRODUCT */
.card {
	/* background-color: #fe6900; */
}

.card__header img {
	display: block;
}

.card.product .card__header {
	position: relative;
}

.btn-heart {
	width: 40px;
	height: 40px;
	background-color: white;
	font-size: 22px;
	position: absolute;
	top: 20px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.badges {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	position: absolute;
	left: 0;
	bottom: 20px;
}

.badge {
	color: white;
	background-color: black;
	font-size: 12px;
	line-height: 30px;
	padding: 0 12px;
	font-weight: bold;
}

.badge.badge--discount {
	background-color: red;
}

.badge.badge--sostenibility {
	background-color: green;
}

.card__header .product__thumb.thumb--hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.card__header .product__thumb {
	/* height: 150px; */
	aspect-ratio: 1/1;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}

.card:hover .product__thumb.thumb--hover {
	opacity: 1;
}

.product__price :first-child {
	color: red;
	font-weight: 700;
}

.product__price :nth-child(2) {
	color: #555;
}

/* mobile first */
@media (min-width: 768px) {
	.col-md-6 {
		width: calc(6 * 100% / 12);
	}
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: calc(4 * 100% / 12);
	}

	.col-lg-12 {
	}

	.col-lg-6 {
	}
}

/* desktop first */
/* @media (max-width: 991px) {
	.products .col-4 {
		width: calc(6 * 100% / 12);
	}
}

@media (max-width: 767px) {
	.products .col-4 {
		width: calc(12 * 100% / 12);
	}
} */
