/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */

.container-sm {
	max-width: 1024px;
}

.container {
	max-width: 1224px;
}

.container-sm,
.container,
.container-lg {
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-4 {
	width: calc(4 * 100% / 12);
}

.col-8 {
	width: calc(8 * 100% / 12);
}

.col-12 {
	width: calc(12 * 100% / 12);
}

/* COMPONENTS */

.button {
	background-color: #0061ff;
	color: white;
	line-height: 44px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	padding: 0 20px;
	transition: background-color 300ms ease-in;
}

.button:hover {
	background-color: #0047ba;
}

/* HEADER */
.page-header {
	background-color: white;
}

.nav .logo {
	display: block;
}

.nav {
	justify-content: space-between;
	min-height: 80px;
	align-items: center;
}

.page-header__menu {
	display: flex;
	align-items: center;
}

.page-header__menu li > a:not(.logo) {
	display: block;
	line-height: 34px;
	padding: 0 20px;
}

.page-header__menu li > .logo {
	padding-right: 20px;
}

/* HERO */
.hero {
	background-color: #b4d0e7;
	padding: 90px 0 30px;
}

.hero__title {
	font-size: 80px;
}

.hero .container + .container {
	margin-top: 50px;
}

.hero__content i {
	font-size: 50px;
	margin-top: auto;
}

.hero__content {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: flex-start;
}

.hero__thumbnail {
	/* filter: blur(20px); */
	transition: all 500ms;
}

.hero__thumbnail:hover {
	/* filter: blur(0px); */
}

.hero__thumbnail img {
	display: block;
	width: 100%;
}

/* plans */

.plans {
	padding: 100px 0;
}

.plans .container-sm + .container-sm {
	margin-top: 36px;
}

.card.plan {
	border: 1px solid #bcbcbc;
	height: 100%;
}

.plans .row:not(.no-gutter) > * {
	padding: 0 25px;
}

.plans .row {
	row-gap: 50px;
}

.card.plan .card__header {
	text-align: center;
	border-bottom: 1px solid #bcbcbc;
	line-height: 40px;
}

.card.plan .card__header,
.card.plan .card__body {
	padding-left: 28px;
	padding-right: 28px;
}

.card.plan .card__body {
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.card.plan .features {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card.plan .features li {
	display: flex;
	gap: 12px;
	font-size: 14px;
}

.card.plan .features.icon--colored i {
	color: #0061ff;
}

.card.plan .features li > i {
	font-size: 16px;
}

.card.plan .button {
	width: 100%;
	/* margin-bottom: 24px; */
}

.card.plan .list-title {
	margin-bottom: 20px;
}

/* .card__cta::before {
	content: 'ciao';
	display: block;
	background-color: aqua;
	padding: 12px;
	color: white;
	border-radius: 30px;
} */

.card.plan .card__cta {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.card.plan .card__cta::after {
	content: '';
	width: 50px;
	height: 1px;
	background-color: #bcbcbc;
	display: block;
	/* margin-top: 30px; */
}

.card.plan.card--landscape .row {
	justify-content: space-between;
	align-items: center;
}

.card.plan.card--landscape .card__body {
	display: block;
}

.card.plan .plan__subtitle {
	margin-bottom: 40px;
}

/* animation */
.bounce {
	animation-name: bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	/* animation-timing-function: linear; */
	/* animation-timing-function: cubic-bezier(1, 0.48, 0.59, 1.26); */
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

.slide-in {
	animation-name: slide-in;
	animation-duration: 1.5s;
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* modal */
.modal {
	position: fixed;
	width: 250px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.5);
}
